.weight_image{
	position:absolutoin;
	margin-top:8%;
}

.weight{
	text-align: center;
	font-size: 1.3rem;
	
}

.weight span{
	color: #fff;
}

.btn{
	border-radius: 2rem !important;
	width: 80%;
    min-height: 3em;
    background: transparent! important;

}

.back{
	background: transparent! important;
	 text-shadow:none !important;
    color: #FFA657;
    
}

.back span{
	color: #fff;
	text-shadow:none !important;
	margin: 0 2rem;
	
}

.next{
	background: transparent! important;
	 text-shadow:none !important;
	   color: #FFA657;
	
}

.next span{
	color: #fff;
	text-shadow:none !important;
	margin: 0 2rem;
}
